<app-breadcrumb [activeBreadcrumb]="'Staff Records'"></app-breadcrumb>
<div>
  <div class="create-button-container d-flex justify-content-end">
    <button type="button" class="btn btn-outline-primary mb-3" (click)="openModalWithComponent()">Create Record</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark p-2">
        <th>Profile Image</th>
        <th>Full Names</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Designation</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of ($_staffs | async)">
          <td>
            <img class="table-img" src="assets/img/user.jpg">
          </td>
          <td>
            {{user?.first_name | titlecase}} {{user?.last_name | titlecase}}
          </td>
          <td>{{user?.email}}</td>
          <td>{{user?.phone_number}}</td>
          <td>{{user?.role | titlecase}}</td>
          
          <td>
            <button class="btn btn-info text-white" (click)="openModalToEdit(user)"><i class="fas fa-edit"></i></button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation" class="float-end">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>