<app-breadcrumb [activeBreadcrumb]="'Milk Records'"></app-breadcrumb>
<div>
  <div class="create-button-container d-flex justify-content-end">
    <button type="button" class="btn btn-outline-primary mb-3" (click)="openModalWithComponent()">Create Record</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark p-2">
        <th>#</th>
        <th>Cow</th>
        <th>Cow Number</th>
        <th>Date</th>
        <th>Liters</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let record of ($_milk_records | async); let i = index;">
          <td>{{ i + 1 }}</td>
          <td>{{ record?.cow?.name | titlecase}}</td>
          <td>{{ record?.cow?.cow_control_number }}</td>
          <td>{{record?.date | date: 'fullDate'}}</td>
          <td>{{record?.liters_per_day}} L</td>
          <td>
            <button class="btn btn-info text-white" (click)="openModalToEdit(record)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation" class="float-end">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>