<app-breadcrumb [activeBreadcrumb]="'Cow Records'"></app-breadcrumb>
<div>
  <div class="create-button-container d-flex justify-content-end">
    <button type="button" class="btn btn-outline-primary mb-3" (click)="openModalWithComponent()">Create Record</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark p-2">
        <th>Image</th>
        <th>Control Number</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Type</th>
        <th>Date of Birth</th>
        <th>Status</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let cow of ($_cow_records | async)">
          <td>
            <img class="table-img" src="assets/img/cow.jpg">
          </td>
          <td>
            {{cow?.cow_control_number}}
          </td>
          <td>{{cow?.name | titlecase}}</td>
          <td>{{cow?.gender | titlecase}}</td>
          <td>{{cow?.category?.name | titlecase}}</td>
          <td>{{cow?.date_of_birth | date: 'fullDate'}}</td>
          <td class="text-success">{{cow?.status | titlecase}}</td>
          <td>
            <button class="btn btn-info text-white"><i class="fas fa-edit"></i></button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation" class="float-end">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>